<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhoumj.dao.AuditInfoMapper">
  <resultMap id="BaseResultMap" type="com.zhoumj.model.AuditInfo">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="BOSS_OPERATOR_ID" jdbcType="BIGINT" property="bossOperatorId" />
    <result column="BOSS_OPERATOR_NAME" jdbcType="VARCHAR" property="bossOperatorName" />
    <result column="AUDIT_CUSTOMER_ID" jdbcType="BIGINT" property="auditCustomerId" />
    <result column="AUDIT_CUSTOMER_NAME" jdbcType="VARCHAR" property="auditCustomerName" />
    <result column="AUDIT_STATUS" jdbcType="VARCHAR" property="auditStatus" />
    <result column="AUDIT_DETAIL" jdbcType="VARCHAR" property="auditDetail" />
    <result column="AUDIT_CREATEDATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="AUDIT_UPDATEDATE" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="SKB_AUDIT_CODE" jdbcType="VARCHAR" property="skbAuditCode" />
    <result column="SKB_AUDIT_MESSAGE" jdbcType="VARCHAR" property="skbAuditMessage" />
    <result column="SKB_SEARCH_CODE" jdbcType="VARCHAR" property="skbSearchCode" />
    <result column="SKB_SEARCH_MESSAGE" jdbcType="VARCHAR" property="skbSearchMessage" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, BOSS_OPERATOR_ID, BOSS_OPERATOR_NAME, AUDIT_CUSTOMER_ID, AUDIT_CUSTOMER_NAME,
    AUDIT_STATUS, AUDIT_DETAIL, AUDIT_CREATEDATE, AUDIT_UPDATEDATE, SKB_AUDIT_CODE, SKB_AUDIT_MESSAGE, 
    SKB_SEARCH_CODE, SKB_SEARCH_MESSAGE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from O2O.TBL_O2O_AUDITINFO
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from O2O.TBL_O2O_AUDITINFO
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zhoumj.model.AuditInfo">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      VALUES IDENTITY_VAL_LOCAL()
    </selectKey>
    insert into O2O.TBL_O2O_AUDITINFO (BOSS_OPERATOR_ID, BOSS_OPERATOR_NAME, 
      AUDIT_CUSTOMER_ID, AUDIT_CUSTOMER_NAME, AUDIT_STATUS, 
      AUDIT_DETAIL, AUDIT_CREATEDATE, AUDIT_UPDATEDATE, 
      SKB_AUDIT_CODE, SKB_AUDIT_MESSAGE, SKB_SEARCH_CODE, 
      SKB_SEARCH_MESSAGE)
    values (#{bossOperatorId,jdbcType=BIGINT}, #{bossOperatorName,jdbcType=VARCHAR}, 
      #{auditCustomerId,jdbcType=BIGINT}, #{auditCustomerName,jdbcType=VARCHAR}, #{auditStatus,jdbcType=VARCHAR}, 
      #{auditDetail,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{skbAuditCode,jdbcType=VARCHAR}, #{skbAuditMessage,jdbcType=VARCHAR}, #{skbSearchCode,jdbcType=VARCHAR}, 
      #{skbSearchMessage,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zhoumj.model.AuditInfo">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      VALUES IDENTITY_VAL_LOCAL()
    </selectKey>
    insert into O2O.TBL_O2O_AUDITINFO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bossOperatorId != null">
        BOSS_OPERATOR_ID,
      </if>
      <if test="bossOperatorName != null">
        BOSS_OPERATOR_NAME,
      </if>
      <if test="auditCustomerId != null">
        AUDIT_CUSTOMER_ID,
      </if>
      <if test="auditCustomerName != null">
        AUDIT_CUSTOMER_NAME,
      </if>
      <if test="auditStatus != null">
        AUDIT_STATUS,
      </if>
      <if test="auditDetail != null">
        AUDIT_DETAIL,
      </if>
      <if test="createDate != null">
        AUDIT_CREATEDATE,
      </if>
      <if test="updateDate != null">
        AUDIT_UPDATEDATE,
      </if>
      <if test="skbAuditCode != null">
        SKB_AUDIT_CODE,
      </if>
      <if test="skbAuditMessage != null">
        SKB_AUDIT_MESSAGE,
      </if>
      <if test="skbSearchCode != null">
        SKB_SEARCH_CODE,
      </if>
      <if test="skbSearchMessage != null">
        SKB_SEARCH_MESSAGE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bossOperatorId != null">
        #{bossOperatorId,jdbcType=BIGINT},
      </if>
      <if test="bossOperatorName != null">
        #{bossOperatorName,jdbcType=VARCHAR},
      </if>
      <if test="auditCustomerId != null">
        #{auditCustomerId,jdbcType=BIGINT},
      </if>
      <if test="auditCustomerName != null">
        #{auditCustomerName,jdbcType=VARCHAR},
      </if>
      <if test="auditStatus != null">
        #{auditStatus,jdbcType=VARCHAR},
      </if>
      <if test="auditDetail != null">
        #{auditDetail,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="skbAuditCode != null">
        #{skbAuditCode,jdbcType=VARCHAR},
      </if>
      <if test="skbAuditMessage != null">
        #{skbAuditMessage,jdbcType=VARCHAR},
      </if>
      <if test="skbSearchCode != null">
        #{skbSearchCode,jdbcType=VARCHAR},
      </if>
      <if test="skbSearchMessage != null">
        #{skbSearchMessage,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhoumj.model.AuditInfo">
    update O2O.TBL_O2O_AUDITINFO
    <set>
      <if test="bossOperatorId != null">
        BOSS_OPERATOR_ID = #{bossOperatorId,jdbcType=BIGINT},
      </if>
      <if test="bossOperatorName != null">
        BOSS_OPERATOR_NAME = #{bossOperatorName,jdbcType=VARCHAR},
      </if>
      <if test="auditCustomerId != null">
        AUDIT_CUSTOMER_ID = #{auditCustomerId,jdbcType=BIGINT},
      </if>
      <if test="auditCustomerName != null">
        AUDIT_CUSTOMER_NAME = #{auditCustomerName,jdbcType=VARCHAR},
      </if>
      <if test="auditStatus != null">
        AUDIT_STATUS = #{auditStatus,jdbcType=VARCHAR},
      </if>
      <if test="auditDetail != null">
        AUDIT_DETAIL = #{auditDetail,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        AUDIT_CREATEDATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        AUDIT_UPDATEDATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="skbAuditCode != null">
        SKB_AUDIT_CODE = #{skbAuditCode,jdbcType=VARCHAR},
      </if>
      <if test="skbAuditMessage != null">
        SKB_AUDIT_MESSAGE = #{skbAuditMessage,jdbcType=VARCHAR},
      </if>
      <if test="skbSearchCode != null">
        SKB_SEARCH_CODE = #{skbSearchCode,jdbcType=VARCHAR},
      </if>
      <if test="skbSearchMessage != null">
        SKB_SEARCH_MESSAGE = #{skbSearchMessage,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhoumj.model.AuditInfo">
    update O2O.TBL_O2O_AUDITINFO
    set BOSS_OPERATOR_ID = #{bossOperatorId,jdbcType=BIGINT},
      BOSS_OPERATOR_NAME = #{bossOperatorName,jdbcType=VARCHAR},
      AUDIT_CUSTOMER_ID = #{auditCustomerId,jdbcType=BIGINT},
      AUDIT_CUSTOMER_NAME = #{auditCustomerName,jdbcType=VARCHAR},
      AUDIT_STATUS = #{auditStatus,jdbcType=VARCHAR},
      AUDIT_DETAIL = #{auditDetail,jdbcType=VARCHAR},
      AUDIT_CREATEDATE = #{createDate,jdbcType=TIMESTAMP},
      AUDIT_UPDATEDATE = #{updateDate,jdbcType=TIMESTAMP},
      SKB_AUDIT_CODE = #{skbAuditCode,jdbcType=VARCHAR},
      SKB_AUDIT_MESSAGE = #{skbAuditMessage,jdbcType=VARCHAR},
      SKB_SEARCH_CODE = #{skbSearchCode,jdbcType=VARCHAR},
      SKB_SEARCH_MESSAGE = #{skbSearchMessage,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>